<div class="comments">
  <small class="text-info">
    <strong>Fecha:</strong>
    <%= l comment.created_at, format: "%d %B %y" %>
  </small>
  <p>
    <%= comment.body %>
  </p>
</div>

<p>
  <!--%= link_to 'Destroy Comment', [comment.article, comment],
               method: :delete,
               data: { confirm: 'Are you sure?' } %-->
</p>