<%= form_for([@article, @article.comments.build]) do |f| %>

  <div class="form-group">
    <%= f.text_area :body, for: "textArea", class: "form-control" %>
  </div>

<p>
  <%= f.submit %>
</p>
<% end %>