<div class="col-sm-12">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center">
        <h1>Hello, Rails</h1>
        
      </div>
      
    </div>
    <div class="row">
      <div class="col-sm-12 text-center lead main-blog-title">
        <h2>
        <%= link_to 'My Blog', controller: 'articles' %>
        </h2>
    </div>
      
    </div>
  </div>  
</div>